body {
    background-image: url(https://images.pexels.com/photos/5910953/pexels-photo-5910953.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    font-family: bradley hand, cursive;
    font-size: 17px;
    padding: 8px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f295;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color:rgb(3, 228, 37);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color:#04fabc;
  }
  
  a {
    color:rgb(0, 0, 0);
  }

  a :hover{
    color:#fad104;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

  .topnav{
    position: relative;
    overflow: hidden;
    float:right;
  }
  
  
  /* Style the navigation bar */
  .navbar {
    width: 90%;
    background-color: #55555500;
    overflow: auto;
    float: right;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: rgb(3, 228, 37);
    text-decoration: none;
    font-size: 17px;
    width: 10%;
    margin-left: 10px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    text-decoration: underline;
    color: #04fabc;
  }
  
  /* Current/active navbar link */
  .active {
    background-color:rgb(225, 33, 19);
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
  .topnav a.split{
    float:right;
  }
  
  header {
    background-color: #ffffff00;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
  }
  
  .site-logo {
    margin-left: 0px;
    width: 100px;
    height:100px;
  }
  
  img{
    width: auto;
    height: 100px;
  }